.chart {
    // width: 100%;
    // flex: 0 1 50%;
    height: 350px;

    &__label {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #30313D;
    }

    &__tick {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #414552;
    }
}