.toast {
    min-width: 78px;
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    gap: 8px;
    padding: 14px 16px;
    box-sizing: border-box;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    background: #30313D;
    color: #FFFFFF;
    border-radius: 4px;
    transition: .3s ease;

    & img {
        filter: brightness(0) invert(1);
    }
}