.dropDown2 {

    display: inline-flex;
    flex-direction: column;
    
    &__top {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.154px;
        color: #3C4257;
        margin-bottom: 6px;
        
        &-desc {
            margin-top: 5px;
            font-weight: 400;
        }
    }

    &__btn {
        box-sizing: border-box;
        width: 240px;
        height: 28px;
        display: inline-flex;
        align-items: center;

        gap: 10px;
        padding: 7px 10px 7px 8px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.154px;
        background: #FFFFFF;
        color: #3C4257;
        border: 1px solid #D5DBE1;
        box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        position: relative;
        transition: .3s ease;
        cursor: pointer;

        & span {
            flex: 1 0 auto;
        }

        &-disabled {
            pointer-events: none;
            cursor: none;
            background: #F6F8FA;
            color: #A3ACBA;

            & img {
                opacity: .7;
            }
        }

        &.focused {
            outline: 4px solid rgba(77, 183, 232, 0.36);
        }
        
        &.Small {
            height: 24px;
        }

        &.Large {
            height: 36px;
        }

        &-items {
            box-sizing: border-box;
            // padding: 12px 10px;
            position: absolute;
            width: 100%;
            height: 0;
            left: 0;
            top: 100%;
            overflow: hidden;
            background: #FFFFFF;
            color: #3C4257;
            border-radius: 4px;
            border: 1px solid #E0E6EB;
            box-shadow: 0px 15px 35px rgba(60, 66, 87, 0.12), 0px 5px 15px rgba(0, 0, 0, 0.08);
            transition: .3s ease;
            opacity: 0;
            visibility: hidden;
            cursor:auto;

            &.show {
                height: auto;
                opacity: 1;
                visibility: visible;
                top: 110%;
                z-index: 10;
            }
        }

        &-item {

            padding: 15px 10px 11px;
            transition: .3s ease;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;

            &:not(:last-child) {border-bottom: 1px solid #E3E8EE;};

            &-title {
                color: #697386;
                letter-spacing: 0.078px;
                text-transform: uppercase;
                font-size: 13px;
                line-height: 13px;
                margin-bottom: 14px;
            }

            &-subitems {
                color: #625AFA;
                letter-spacing: 0.154px;
                transition: .3s ease;

                & div {
                    cursor: pointer;

                    &:hover{
                        opacity: .8;
                    }
                    
                    &:not(:last-child) {margin: 0px 0px 14px 0px;};
                }
            }
        }

        &-error {
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            height: 16px;
            display: flex;
            align-items: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #CD3D64;
            transition: .3s ease;
            opacity: 0;
            visibility: hidden;

            &::before{
                content: url('../icons/icons/error.svg');
                width: 12px;
                height: 12px;
                padding-right: 6px;
            }

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}