.checkBox {
    
    display: inline-flex;
    flex-direction: column;
    gap: 8px;

    &__item {

        font-family: 'Roboto';
        font-style: normal;
        line-height: 20px;
        letter-spacing: 0.154px;
        font-size: 14px;
    
        display: flex;
        gap: 13px;

        &-input {
            -webkit-appearance: none;
            appearance: none;
            background: #FFFFFF;
            margin: 0;
            margin-top: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            font: inherit;
            color: currentColor;
            width: 14px;
            height: 14px;
            border: 1px solid #C0C8D2;
            box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            outline: 4px solid transparent;
            transition: .3s ease;
            cursor: pointer;

            &::before {
                content: url('../icons/icons/mark.svg');
                // width: 9px;
                // height: 6.19px;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
            }

            &:checked {
                background: #625AFA;
                border: 1px solid #625AFA;
                
                &::before {
                    transform: scale(1) translateY(-1px);
                }
            }

            &:focus {
                outline: 4px solid rgba(77, 183, 232, 0.36);
            }
        }
    
        &-body {
            display: flex;
            flex-direction: column;
            gap: 2px;
            cursor: pointer;
        }
    
        &-label {
            font-weight: 500;
            color: #30313D;
        }
    
        &-description {
            font-weight: 400;
            color: #6A7383;
        }

        &:has(input[disabled]) {
            & .checkBox__item-input, & .checkBox__item-body {
                opacity: .5;
                cursor: none;
                pointer-events: none;
            }
        }
    }
}