.dateField {

    display: inline-flex;
    flex-direction: column;

    &:not(:first-child) {margin-top: 10px};

    &__top {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.154px;
        color: #3C4257;
        margin-bottom: 6px;
        
        &-desc {
            margin-top: 5px;
            font-weight: 400;
        }
    }

    &__item {

        display: block;
        height: auto;
        position: relative;

        &-input {
            box-sizing: border-box;
            width: 240px;
            height: 28px;
            padding: 7px 10px 7px 8px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0.154px;
            background: #FFFFFF;
            color: #3C4257;
            border: 1px solid #D5DBE1;
            box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            position: relative;
            transition: .3s ease;
            outline: 4px solid transparent;

            &[disabled] {
                pointer-events: none;
                cursor: none;
                background: #F6F8FA;
            }

            &:focus {
                outline: 4px solid rgba(77, 183, 232, 0.36);
            }

            &::placeholder {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #A3ACB9;
            }
        }
        
        &-error {
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            height: 16px;
            display: flex;
            align-items: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #CD3D64;
            transition: .3s ease;
            opacity: 0;
            visibility: hidden;

            &::before{
                content: url('../icons/icons/error.svg');
                width: 12px;
                height: 12px;
                padding-right: 6px;
            }

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}