.btn {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 9.5px;
    padding: 5px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;

    background: #FFFFFF;
    color: #3C4257;
    border: 1px solid #E0E6EB;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(60, 66, 87, 0.08);
    border-radius: 4px;
    position: relative;
    transition: .3s ease;
    cursor: pointer;

    &:hover{
        background: #f3f3f3;
    }

    &-active {
        border-radius: 20px;
        border: 1px solid #306AFF;
        box-shadow: none;
        background: #306AFF;
        color: #FFFFFF;

        &:hover{
            background: #2556d3;
        }
    }

    &-outlined {
        border: none;
        box-shadow: none;
        padding: 6px 10px;

        &::after{
            content:'';
            position: absolute;
            width: calc(100% - 20px);
            height: 1px;
            bottom: 10%;
            left: 10px;
            background-color: rgba($color: #3C4257, $alpha: .2);
            opacity: 0;
            transition: all 0.45s ease 0s;
        }

        &:hover {        
            background: transparent;
            &::after{bottom: 0%; opacity: 1;}
        }
    }

    &-disabled {
        pointer-events: none;
        cursor: none;
        opacity: .8;
    }
}