.table2 {

    &__row {

        padding: 0 9px;
        display: flex;
        align-items: center;
        gap: 17px;
        min-height: 52px;
        transition: .3s ease;
        border-bottom: 1px solid #EBEEF1;
        cursor: pointer;

        &:hover{
            background: #F6F8FA;
        }

        &-icon {
            flex: 0 0 23px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            & img {
                width: 14px;
                height: 16px;
            }
        }

        &-body {

            flex: 1 0 auto;
            font-family: 'Roboto';
            font-size: 14px;
            line-height: 20px;

            &-title {
                font-style: italic;
                font-weight: 100;
            }

            &-subtitle {
                font-style: normal;
                font-weight: 400;
                color: #6A7383;
            }
        }

        &-value {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #30313D;
        }
    }
}