.badge {

    background: #EBEEF1;
    border-radius: 4px;

    padding: 3px 6px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    transition: .3s ease;
    position: relative;

    img {
        transition: .3s ease;
        filter: invert(48%) sepia(12%) saturate(555%) hue-rotate(179deg) brightness(90%) contrast(97%);
        height: 12px;
    }

    &__label {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #6A7383;
        transition: .3s ease;
    }

    &.Info {
        background: #CFF5F6;

        img {
            filter: invert(16%) sepia(93%) saturate(5556%) hue-rotate(205deg) brightness(88%) contrast(101%);
        }
    
        .badge__label {
            color: #0055BC;
        }
    }

    &.Positive {
        background: #D7F7C2;
        
        img {
            filter: invert(22%) sepia(82%) saturate(1440%) hue-rotate(104deg) brightness(97%) contrast(105%);
        }
    
        .badge__label {
            color: #006908;
        }
    }

    &.Warning {
        background: #FCEDB9;
        
        img {
            filter: invert(16%) sepia(100%) saturate(2567%) hue-rotate(14deg) brightness(96%) contrast(101%);
        }
    
        .badge__label {
            color: #A82C00;
        }
    }

    &.Warning {
        background: #FCEDB9;
        
        img {
            filter: invert(16%) sepia(100%) saturate(2567%) hue-rotate(14deg) brightness(96%) contrast(101%);
        }
    
        .badge__label {
            color: #A82C00;
        }
    }

    &.Negative {
        background: #FFE7F2;
        
        img {
            filter: invert(17%) sepia(94%) saturate(4064%) hue-rotate(333deg) brightness(70%) contrast(103%);
        }
    
        .badge__label {
            color: #B3093C;
        }
    }

    &.Urgent {
        background: #DF1B41;
        
        img {
            filter: brightness(0) invert(1);
        }
    
        .badge__label {
            color: #FFFFFF;
        }
    }
}

