.tabs {
    display: flex;

    &__item {

        border-radius: 0px;
        
        &:first-child {
            border-radius: 4px 0px 0px 4px;
        }

        &:last-child{
            border-radius: 0px 4px 4px 0px;
        }

    }
}