.card {
    box-sizing: border-box;
    // display: inline-flex;
    display: inline-block;
    // flex-direction: column;
    // gap: 20px;
    min-height: 135px;
    // height: 135px;
    min-width: 290px;
    width: 290px;
    padding: 16px;

    background: #FFFFFF;
    border: 1px solid #E0E6EB;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    &.shadow {
        box-shadow: 0px 15px 35px rgba(60, 66, 87, 0.12), 0px 5px 15px rgba(0, 0, 0, 0.08);
    }

    &.Caution {
        background: #FEF9DA;
    }

    &.Critical {
        background: #FFF5FA;
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.34px;
        color: #30313D;
        margin-bottom: 20px;
    }


    &__container {
        height: 100%;
        // overflow: auto;
        // flex: 1 0 auto;
    }
}