@use "sass:math";

// @function prc($pxOne, $pxTwo) {
//     $result: math.div($pxOne, $pxTwo) * 100%;
//     @return $result;
// }

.table {

    padding-top: 28px;

    &__header, &__row {

        display: grid;
        align-items: center;
        grid-template-columns: 5% 15% 15% 20% 20% 20% 1fr;
        // prc(24px, 1065px) prc(40, 1065) prc(145, 1065) prc(245, 1065) prc(245, 1065) prc(245, 1065)
        min-height: 36px;
        box-sizing: border-box;
        border-bottom: 1px solid #EBEEF1;
    }

    &__header {
        
        &-item {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 0.340402px;
            text-transform: uppercase;
            text-align: center;
            color: #1A1F36;
        }
    }

    &__row {

        & div {
            font-family: 'Roboto';
            font-style: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.154px;
            text-align: center;
        }

        &-date {
            font-weight: 500;
            color: #6A7383;
        }

        &-seller {
            display: flex;
            align-items: center;
            padding-left: 50px; //////////////
            column-gap: 8px;
            font-weight: 400;

            &Icon {
                display: flex;
                align-items: center;
            }

            &Title {
                color: #697386;
            }
        }

        &-sale {
            color: #687385;
            font-weight: 400;
        }

        &-revenue {
            color: #30313D;
            font-weight: 500;
            position: relative;

            &::after{
                content:'₽';
                position: absolute;
                transform: translateX(3px);
            }
        }

        &-return {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-self: center;
            width: 18px;
            height: 18px;
            line-height: 12px;
            font-size: 12px;
            font-weight: 500;
            color: #545969;
            background: #EBEEF1;
            border-radius: 4px;
        }

        &-extra {
            color: #4F566B;
            font-weight: 500;
        }
    }

}