.dropDown {

    &__items {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        top: 100%;
        border-radius: 4px;
        overflow: hidden;
        background: #FFFFFF;
        color: #3C4257;
        border: 1px solid #E0E6EB;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(60, 66, 87, 0.08);
        transition: .3s ease;
        opacity: 0;
        visibility: hidden;
        cursor:auto;

        &.show {
            height: auto;
            opacity: 1;
            visibility: visible;
            top: 110%;
        }
    }

    &__item {
        line-height: 22px;
        padding-left: 12px;
        transition: .3s ease;
        cursor: pointer;

        &:hover{
            background: rgba($color: #306AFF, $alpha: .15);
        }
    }

}