.chip {

    box-sizing: border-box;
    display: inline-block;
    min-width: 73px;
    min-height: 24px;
    background: #FFFFFF;
    border: 1px dashed rgba(4, 36, 68, 0.25);
    border-radius: 100px;
    position: relative;
    transition: .3s ease;
    cursor: pointer;

    &:hover{
        background: #F6F8FA;
    }

    &-disabled {
        pointer-events: none;
        cursor: none;
        background: #f8f7f7;
        opacity: .7;
        &:hover{
            background: #f8f7f7;
        }
    }

    &__btn {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 6px 8px;
        font-family: 'Roboto';
        font-style: normal;
        transition: .3s ease;
        outline: transparent;

        &.focused {
            outline: 4px solid rgba(77, 183, 232, 0.36);
            border-radius: 100px;
        }

        &.selected {
            .chip__icon {
                transform: rotate(45deg);

                &:hover{
                    transform: rotate(135deg);
                }
            }
        }

        &.focused.selected {
            .chip__icon {
                & img {
                    filter: invert(17%) sepia(84%) saturate(4899%) hue-rotate(341deg) brightness(91%) contrast(91%);
                }

                &:hover{
                    transform: rotate(135deg);
                }
            }
        }
    }

    &__icon {
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(0deg);
        transition: .3s ease;
    }

    &__placeholder {
        font-weight: 500;
        font-size: 12px;
        color: #6A7383;
    }

    &__stick {
        width: 1px;
        height: 12px;
        background: #A3ACBA;
        border-radius: 2px;
    }

    &__title {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 100;
        font-size: 12px;
        color: #306AFF;
        margin: 0;
        position: relative;

        &:not(:last-child)::after{
            content:','; 
        }
    }

    &__list {
        box-sizing: border-box;
        padding: 12px 10px;
        position: absolute;
        // width: 100%;
        min-width: 100px;
        height: 0;
        left: 50%;
        top: 100%;
        background: #FFFFFF;
        transform: translateX(-50%);

        // overflow: hidden;
        border: 1px solid rgba(26, 31, 54, 0.05);
        box-shadow: 0px 15px 35px rgba(60, 66, 87, 0.12), 0px 5px 15px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        transition: .3s ease;
        opacity: 0;
        visibility: hidden;
        cursor:auto;

        &.show {
            height: auto;
            opacity: 1;
            visibility: visible;
            top: 110%;
            z-index: 10;
        }

        &-item {
            transition: .3s ease;
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 100;
            font-size: 14px;
            color: #635BFF;
            cursor: pointer;

            &:hover{
                opacity: .65;
            }

            &:not(:last-child) {margin: 0px 0px 11px 0px;};
        }
    }

}