.banner {
    display: flex;
    height: 100%;
    box-sizing: border-box;

    & > * {
        &:not(:last-child) {margin-right: 12px;};
    }

    &__icon {
        filter: invert(47%) sepia(27%) saturate(272%) hue-rotate(178deg) brightness(89%) contrast(88%);

        .Critical & {
            filter: invert(22%) sepia(71%) saturate(5860%) hue-rotate(339deg) brightness(90%) contrast(95%);
        }

        .Caution & {
            filter: invert(50%) sepia(38%) saturate(6896%) hue-rotate(6deg) brightness(100%) contrast(97%);
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 6px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;

        &-title {
            font-weight: 500;
            color: #30313D;
        }

        &-text {
            flex: 1 1 auto;
            color: #687385;
            // overflow: auto;
        }

        &-button {

        }
    }

    &__cross {
        cursor: pointer;
    }
}