.accordion {

    &__item {

        &.active {
            .accordion__item-top {
                .accordion-item-top__arrow {
                    transform: rotate(0deg);
                } 
            }

            .accordion__item-content {
                max-height: 1500px;
                opacity: 1;
                visibility: visible;
            }
        }
        

        &-top {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 12px 15px;
            min-height: 44px;
            transition: .3s ease;
            border-bottom: 1px solid #EBEEF1;
            cursor: pointer;

            &:hover{
                background: #F6F8FA;
            }

            & .accordion-item-top {

                &__arrow {
                    width: 11px;
                    height: 6px;
                    transition: .3s ease;
                    transform: rotate(-90deg);
                }

                &__icon {
                    width: 20px;
                    height: 20px;
                    filter: invert(14%) sepia(20%) saturate(640%) hue-rotate(198deg) brightness(95%) contrast(85%);
                    padding: 6px;
                    background: #EBEEF1;
                    border-radius: 2px;
                }

                &__body {
                    flex: 1 0 auto;
                    font-family: 'Roboto';
                    font-size: 14px;
                    line-height: 20px;
                }

                &__title {
                    font-style: italic;
                    font-weight: 100;
                    color: #30313D;
                }

                &__subtitle {
                    font-style: normal;
                    font-weight: 400;
                    color: #6A7383;
                }

                &__link {
                    color: #306AFF;
                    font-weight: 500;
                    font-size: 14px;
                    font-style: normal;
                }

                &__button {
                    align-self: center;
                }
            }
        }

        &-content {
            height: auto;
            max-height: 0px;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease;
        }
    }
}

.accordion__body-item {
    padding: 15px 8px;
}