.tabs2 {

    &__header {
        color: #6A7383;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        background: #ffffff;
        box-sizing: border-box;
        border-bottom: 1px solid #EBEEF1;
    
        &-item {
            flex: 1;
            text-align: center;
            padding: 16px 27.5px;
            cursor: pointer;
            transition: .3s ease;
            font-size: 14px;
            line-height: 20px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: relative;
                
            .Small & {
                padding: 4px 29px;
                font-size: 12px;
                line-height: 16px;
            }

            .Fixed & {
                flex: 0;
            }

            &::before{
                content:'';
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: -1px;
                left: 0;
                z-index: 5;
                transition: .3s ease;
            }

            &:hover {

                &::before{         
                    background: #6A7383;
                }
            }
    
            &.active {
                color: #625AFA;
                
                &::before{         
                    height: 2px;
                    background: #625AFA;
                }
            }
        }
    }
    

    /////////////////////////// Удалить 
    &__body {

        
        &-item {
            background: #ffffff;
            position: relative;
            transition: .3s ease;
            padding: 30px 15px;
            // display: none;
            transform: scaleY(0.8);
            opacity: 0;
            transform-origin: center top;
            -webkit-animation: showContent 0.6s forwards;
            animation: showContent 0.6s forwards;

            &.active {
                display: block;
            }
        }
    }
    
    @-webkit-keyframes showContent {
        0% {
            transform: scaleY(0.8);
            opacity: 0;
        }
        100% {
            transform: scaleY(1);
            opacity: 1;
        }
    }
    @keyframes showContent {
        0% {
            transform: scaleY(0.8);
            opacity: 0;
        }
        100% {
            transform: scaleY(1);
            opacity: 1;
        }
    }
}
