.btn2 {
    min-width: 60px;
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    gap: 8px;
    padding: 6px 8px;
    box-sizing: border-box;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;

    background: #306AFF;
    color: #FFFFFF;
    border: 1px solid #306AFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(60, 66, 87, 0.08);
    border-radius: 4px;
    transition: .3s ease;
    cursor: pointer;
    position: relative;

    & img {
        filter: brightness(0) invert(1);
    }

    &:hover{
        box-shadow: 0px 3px 9px rgba(60, 66, 87, 0.08), 0px 2px 5px rgba(60, 66, 87, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }

    &.Secondary {
        color: #3C4257;
        background: #FFFFFF;
        border: 1px solid #E0E6EB;

        & img {
            filter: invert(23%) sepia(38%) saturate(378%) hue-rotate(189deg) brightness(93%) contrast(89%);
        }
    }
    
    &.Destructive {
        background: #DF1B41;
        border: 1px solid #DF1B41;
    }

    &-disabled {
        pointer-events: none;
        cursor: none;
        opacity: .8;
    }
}