.menu {
    &__item {
        &:not(:last-child) {margin: 0px 0px 11px 0px;};
    }

    &__title {

        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
        letter-spacing: 0.154px;
        transition: .3s ease;
        position: relative;
        cursor: pointer;

        &::after{
            content:'';
            position: absolute;
            height: 100%;
            width: 2px;
            top: 0;
            left: -16px;
            background: transparent;
        }

        &.active {
            color: #306AFF;
            font-weight: 500;

            &::after{
                background: #306AFF;
            }
        }
    }

    &__subitems {
        height: auto;
        max-height: 0px;
        overflow: hidden;
        padding-left: 8px;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease;

        &.show {
            max-height: 500px;
            opacity: 1;
            visibility: visible;
        }

    }

    &__subitem {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #414552;
        letter-spacing: 0.154px;
        &:not(:last-child) {margin: 0px 0px 11px 0px;};
        cursor: pointer;
    }
}