.switch {
    
    display: inline-flex;
    flex-direction: column;
    gap: 8px;

    &__item {

        font-family: 'Roboto';
        font-style: normal;
        line-height: 20px;
        letter-spacing: 0.154px;
        font-size: 14px;
        display: flex;
        gap: 13px;

        &-input {
            box-sizing: border-box;
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
            margin-top: 3px;
            display: flex;
            align-items: center;    
            font: inherit;
            color: currentColor;
            width: 32px;
            height: 18px;

            background: #E3E8EE;
            border: 1px solid rgba(42, 47, 69, 0.12);
            border-radius: 20px;
            box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
            transition: .3s ease;
            cursor: pointer;

            &::before {
                box-sizing: border-box;
                content: '';
                width: 17px;
                height: 17px;
                background: #FFFFFF;
                border: 1px solid rgba(42, 47, 69, 0.12);
                box-shadow: 0px 2px 5px rgba(42, 47, 69, 0.1), 0px 1px 1.5px rgba(0, 0, 0, 0.07);
                border-radius: 50%;
                transform: translateX(-1px);
                transition: 120ms ease-in-out;
            }

            &:checked {
                background: #625AFA;
                border: 1px solid #625AFA;
                
                &::before {
                    border: 1px solid #3D4EAC;
                    transform: translateX(14px);
                }
            }

            &.Small {
                width: 24px;
                height: 14px;

                &::before{
                    width: 14px;
                    height: 14px;
                }

                &:checked::before {
                    transform: scale(1) translateX(10px);
                }
            }
        }
    
        &-body {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
    
        &-label {
            font-weight: 500;
            color: #30313D;
        }
    
        &-description {
            font-weight: 400;
            color: #6A7383;
        }

        &:has(input[disabled]) {
            & .switch__item-input, & .switch__item-body {
                opacity: .5;
                cursor: none;
                pointer-events: none;
            }
        }
    }
}