.link {

    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    color: #635BFF;
    transition: .3s ease;
    cursor: pointer;
    position: relative;

    & img {
        filter: invert(51%) sepia(97%) saturate(6152%) hue-rotate(235deg) brightness(107%) contrast(96%);
    }

    &.Secondary {
        color: #414552;
        border-bottom: 1px dashed #6A7383;

        & img {
            filter: invert(23%) sepia(38%) saturate(378%) hue-rotate(189deg) brightness(93%) contrast(89%);
        }
    
    }

    &-disabled {
        color: #A3ACBA;
        border-bottom: 1px dashed #A3ACBA;
        pointer-events: none;
        cursor: none;
        opacity: .8;

        & img {
            filter: invert(73%) sepia(8%) saturate(475%) hue-rotate(177deg) brightness(96%) contrast(79%);
        }
    }
}