
.App {
  /* text-align: center; */
  // padding: 50px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  padding-bottom: 50px;

  [class*="-container"] {
    max-width: 1290px;
    padding: 0 5px;
    margin: 0 auto;
  }

  [data-tooltip]:before,
  [data-tooltip]:after {
    position: absolute;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s ease-in-out 0.4s;
    background: #FFFFFF;
  }
  
  [data-tooltip]:before {
    content: "";
    left: 50%;
    bottom: -10px;
    transform: translate(-50%) rotate(45deg);
    height: 6px;
    width: 6px;
    border: 1px solid;
    border-color: #E3E8EE transparent transparent #E3E8EE;
    border-radius: 4px 0 0 0 ;
    z-index: 7;
  }

  [data-tooltip]:after {
    content: attr(data-tooltip);
    // white-space: nowrap;
    padding: 16px;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    box-sizing: border-box;
    left: 50%;
    top: calc(100% + 6px);
    transform: translate(-50%, 0);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;    
    letter-spacing: -0.154px;    
    color: #3C4257;
    border: 1px solid #E3E8EE;
    border-radius: 4px;
    filter: drop-shadow(0px 15px 35px rgba(60, 66, 87, 0.12)) drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.08));
    z-index: 6;
  }
  
  [data-tooltippos="Right"][data-tooltip]:before {
    left: unset;
    right: -10px;
    bottom: 50%;
    transform: translate(0, 50%) rotate(-45deg);
  }

  [data-tooltippos="Right"][data-tooltip]:after {
    left: unset;
    right: 0;
    top: 50%;
    transform: translate(calc(100% + 6px), -50%);
  }

  [data-tooltippos="Left"][data-tooltip]:before {
    left: -10px;
    bottom: 50%;
    transform: translate(0, 50%) rotate(135deg);
  }

  [data-tooltippos="Left"][data-tooltip]:after {
    left: 0;
    top: 50%;
    transform: translate(calc(-100% - 6px), -50%);
  }

  [data-tooltippos="Top"][data-tooltip]:before {
    bottom: unset;
    top: -12px;
    transform: translate(-50%, 50%) rotate(225deg);
  }

  [data-tooltippos="Top"][data-tooltip]:after {
    left: 50%;
    top: unset;
    bottom: calc(100% + 4px);
    transform: translate(-50%, 0);
  }

  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease-in-out 0.3s;
  }
  




  .navbar {
    border-bottom: 1px solid #EBEEF1;

    &-container {
      min-height: 50px;
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }

  .main {
    padding-top: 38px;
    display: flex;

    .left-column {
      flex: 0 1 216px;

      &__title {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.34px;
        color: #30313D;
        margin-bottom: 20px;
      }

      &__body {

        padding: 3px 16px;
        border-left: 1px solid #EBEEF1;
        transition: .3s ease;

        &-title {
          font-weight: 400;
          font-size: 14px;
          color: #414552;
          margin-bottom: 28px;
        }

        &-menu {

        }
      }
    }


    .right-column {
      padding: 17px 0 0 0;
      flex: 1 0 auto;
      width: calc(100% - 216px);

      &__header {
        display: flex;
        gap: 15px;
        padding: 14px 20px;
        position: relative;
        margin-bottom: 31px;

        &::after{
          content:'';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: #EBEEF1;
          z-index: -2;
        }

      }

      &__charts {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
      }

      &__chart {
        width: 100%;
        border: 1px solid #EBEEF1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      
        &:nth-child(3n+2) {
          border-left: none;
          border-right: none;
        };

        &:last-child{
          border-right: 1px solid #EBEEF1;
        }

        &:nth-child(n + 4) {
          border-top: none;
        };


        &-top {
          margin-bottom: 10px; 

          & .right-column-chart-top {

            &__title {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: -0.154px;
              color: #687385;
              padding-left: 13px;
              padding-top: 15px;
              margin-bottom: 3px;
              display: flex;
              align-items: center;
              gap: 8px;

              &::after{
                content: attr(data-num);
                font-family: 'Roboto';
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                color: #006908;
                background: #D7F7C2;
                border-radius: 4px;
                padding: 3px 6px;
              }
            }

            &__row {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-left: 13px;
              padding-right: 14.5px;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
            }

            &__leftVal {
              font-size: 20px;
              line-height: 28px;
              letter-spacing: 0.340402px;
              color: #414552;
            }

            &__rightVal {
              font-size: 16px;
              line-height: 24px;
              letter-spacing: -0.32px;
              color: #697386;
            }
          }
        }

      }
    }
  }


}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');






