img {

    transition: .3s ease;
    filter: invert(34%) sepia(13%) saturate(820%) hue-rotate(188deg) brightness(90%) contrast(88%);
    // width: 9px;
    height: 12px;

    .btn-active &, .dropDown-active & {
        filter: brightness(0) invert(1);
    }
}